<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SqlHarvesterConfiguration" type="CodeKing.SqlHarvester.Configuration.SqlHarvesterConfiguration, CodeKing.SqlHarvester.Engine" />
  </configSections>

  <SqlHarvesterConfiguration connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=Demo" outputDirectory="Scripts" defaultScriptMode="Delete">
    <ScriptInfo name="*" />
  </SqlHarvesterConfiguration>

  <system.diagnostics>
    <switches>
      <add name="SqlHarvester" value="3" />
    </switches>
  </system.diagnostics>

</configuration>